<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Form Tambah Kategori</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="/category/create" method="POST">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Masukan Nama Kategori</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Masukan nama kategori"
        />
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</div>
