<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Form Tambah Bank</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="/bank/create" method="POST">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Nama Pemilik</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Masukan nama pemilik"
        />
      </div>
      <div class="form-group">
        <label for="bankName">Nama Bank</label>
        <input
          type="text"
          class="form-control"
          id="bankName"
          name="bankName"
          placeholder="Masukan nama bank"
        />
      </div>
      <div class="form-group">
        <label for="noRekening">No Rekening</label>
        <input
          type="number"
          class="form-control"
          id="noRekening"
          name="noRekening"
          placeholder="Masukan no rekening"
        />
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</div>
